$font-familyBungee: "Bungee", sans-serif;
$font-familySource: "Source Sans Pro", sans-serif;

$white: #fff;
$black: #000;
$red: #f13c20;

$background-color-body:#f4f1ec;
$body-color:#545149;
$aside-background-color:#d79922;
$background-color-nav:#4056A1;

$form-background-color:#f4f1ec;
$form-textarea-border-color:#545149;
$form-color:#545149;
$form-submit-button-background-color:#4056a1;

$tweet-border:#545149;
$tweet-handle-color:#c5cbe3;
$tweeter-footer-actions-color:#4056a1;
$tweeter-footer-action-hover:#d79922;


$aside-background-image-url:url("https://www.transparenttextures.com/patterns/asfalt-light.png");
