header{
    height:400px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top:4em;
    /* background-color: #de6000;
background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */ 
}
